<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace= "com.itxindeshang.mapper.ProductMapper">
    <resultMap id="ProductSpecResultMap" type="com.itxindeshang.pojo.entity.ProductSpec">
        <id column="spec_id" property="id"/>
        <result column="spec_product_id" property="productId"/>
        <result column="spec_text" property="specText"/>
        <result column="spec_price" property="price"/>
        <result column="spec_enterprise_price" property="enterprisePrice"/>
        <result column="spec_stock" property="stock"/>
        <result column="spec_create_time" property="createTime"/>
        <result column="spec_update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="ProductWithImageAndSpecResultMap" type="com.itxindeshang.pojo.entity.Product">
        <id column="product_id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="name" property="name"/>
        <result column="sell_point" property="sellPoint"/>
        <result column="product_price" property="price"/>
        <result column="enterprise_price" property="enterprisePrice"/>
        <result column="stock" property="stock"/>
        <result column="cover_image" property="image"/>
        <result column="description" property="description"/>
        <result column="view_count" property="viewCount"/>
        <result column="sales_count" property="salesCount"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <collection property="imageUrls" ofType="java.lang.String">
            <result column="image_url"/>
        </collection>

        <collection property="specList" ofType="com.itxindeshang.pojo.entity.ProductSpec"
                    resultMap="ProductSpecResultMap">
        </collection>
    </resultMap>

    <resultMap id="ProductResultMap" type="com.itxindeshang.pojo.entity.Product">
        <id column="product_id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="name" property="name"/>
        <result column="sell_point" property="sellPoint"/>
        <result column="product_price" property="price"/>
        <result column="enterprise_price" property="enterprisePrice"/>
        <result column="stock" property="stock"/>
        <result column="cover_image" property="image"/>
        <result column="description" property="description"/>
        <result column="view_count" property="viewCount"/>
        <result column="sales_count" property="salesCount"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectByProductId" resultMap="ProductWithImageAndSpecResultMap">
        SELECT p.id                AS product_id,
        p.category_id,
        p.name,
        p.sell_point,
        p.price             AS product_price,
        p.enterprise_price,
        p.stock,
        p.cover_image,
        p.description,
        p.view_count,
        p.sales_count,
        p.status,
        p.create_time,
        p.update_time,
        pi.image_url,
        pi.sort,
        ps.id               AS spec_id,
        ps.product_id       AS spec_product_id,
        ps.spec_text,
        ps.price            AS spec_price,
        ps.enterprise_price AS spec_enterprise_price,
        ps.stock            AS spec_stock,
        ps.create_time      AS spec_create_time,
        ps.update_time      AS spec_update_time
        FROM product p
        LEFT JOIN product_image pi ON p.id = pi.product_id
        LEFT JOIN product_spec ps ON p.id = ps.product_id
        where p.id = #{productId}
        and p.status = 1
    </select>

    <select id="getCategoryProductList" resultType="com.itxindeshang.pojo.vo.ProductVO">
        SELECT
        id,
        name,
        cover_image as image,
        price,
        description,
        stock,
        category_id,
        create_time,
        update_time
        FROM product
        WHERE category_id = #{categoryId}

        <if test="sortValue != null and sortValue !='' ">
            AND (
            <choose>
                <when test="isAsc == true">
                    ${sortField} &gt; #{sortValue}
                </when>
                <otherwise>
                    ${sortField} &lt; #{sortValue}
                </otherwise>
            </choose>
            OR
            (
            ${sortField} = #{sortValue}
            AND
            <choose>
                <when test="isAsc == true">
                    id &gt; #{productId}
                </when>
                <otherwise>
                    id &lt; #{productId}
                </otherwise>
            </choose>
            )
            )
        </if>

        ORDER BY ${sortField}
        <choose>
            <when test="isAsc == true">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>,
        id
        <choose>
            <when test="isAsc == true">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>

        LIMIT #{querySize}
    </select>
    <select id="searchProductList" resultType="com.itxindeshang.pojo.vo.ProductVO">
        SELECT
        id,
        name,
        cover_image as image,
        price,
        description,
        stock,
        category_id,
        create_time,
        update_time
        FROM product
        WHERE name LIKE CONCAT('%', #{keyword}, '%')
        <!-- 只要 sortValue 不为空，就必须进行游标过滤 -->
        <if test="sortValue != null and sortValue!=''">
            AND (
            <choose>
                <when test="isAsc == true">
                    ${sortField} &gt; #{sortValue}
                </when>
                <otherwise>
                    ${sortField} &lt; #{sortValue}
                </otherwise>
            </choose>
            OR
            (
            ${sortField} = #{sortValue}
            AND
            <choose>
                <when test="isAsc == true">
                    id &gt; #{productId}
                </when>
                <otherwise>
                    id &lt; #{productId}
                </otherwise>
            </choose>
            )
            )
        </if>

        ORDER BY ${sortField}
        <choose>
            <when test="isAsc == true">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>,
        id
        <choose>
            <when test="isAsc == true">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>

        LIMIT #{querySize}
    </select>

</mapper>